@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1C1C1C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-palet-orange: #FF7043;
  --color-palet-orange-dyd: #FF7043;
  --color-palet-orange-dark: #FA5723;
  --color-palet-hover-orange: #FF8157;
  --color-palet-black: #1C1C1C;
  --color-palet-found-black: #2C2C2C;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, 'Inter', sans-serif);
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-palet-orange-dyd hover:bg-palet-hover-orange text-white py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-disabled {
  @apply bg-palet-orange-dark text-white py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all cursor-pointer;
}

/* POPUS */
@keyframes fade-in-up {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in-up {
  animation: fade-in-up 0.3s cubic-bezier(.4,0,.2,1) both;
}

/* ANIMATE MOVE LEFT */
@keyframes move-left-right {
  0% { transform: translateX(-30px);}
  50% { transform: translateX(30px);}
  100% { transform: translateX(-30px);}
}
.animate-move-left-right {
  animation: move-left-right 2s ease-in-out infinite;
}

/* ANIMATE WIGGLE */
@keyframes wiggle {
  0%, 93%, 100% { transform: translateX(0); }
  94% { transform: translateX(-5px); }
  95% { transform: translateX(5px); }
  96% { transform: translateX(-5px); }
  97% { transform: translateX(5px); }
  98% { transform: translateX(-5px); }
  99% { transform: translateX(5px); }
}

.animate-wiggle {
  animation: wiggle 5s ease-in-out infinite;
}