@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #1C1C1C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-palet-orange: #FFA500;
  --color-palet-orange-dark: #F09B00;
  --color-palet-hover-orange: #FFAC13;
  --color-palet-black: #1C1C1C;
  --color-palet-found-black: #2C2C2C;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply bg-palet-orange hover:bg-palet-hover-orange text-white py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-disabled {
  @apply bg-palet-orange-dark text-white py-2 px-4 rounded transition-all cursor-pointer;
}